{{!自定义模板}}
<!doctype html>
<html>
<head>
    <head>
        <title>欢迎光临</title>
        <script src="/javascripts/jquery-1.9.1.min.js"></script>
        {{{_sections.head}}}
    </head>
</head>
<body>
    {{{body}}}
    {{{_sections.jquery}}}
</body>
</html>